<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hgtxxgl.application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LibMainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeLib"/>
        <activity
            android:name=".activity.ItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".QrCode.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>