<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hgtxxgl.application">

    <application
        android:name=".utils.hand.ApplicationApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:name,android:icon,android:theme">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LibMainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeLib"/>
        <activity
            android:name=".activity.NewsItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.NotificationItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.PersonalActivity"/>
        <activity android:name=".fragment.personal.AboutActivity"/>
        <activity android:name=".QrCode.sample.QrMainActivity"
            android:label="二维码名片">
        </activity>
        <activity
            android:name=".QrCode.sample.ScannerActivity"
            android:label="扫一扫">
            <intent-filter>
                <action android:name="com.mylhyl.zxing.scanner.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Polling Service -->
        <service android:name=".fragment.notification.PollingService">
            <intent-filter>
                <action android:name="com.ryantang.service.PollingService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".QrCode.sample.UriActivity"
            android:label="uri" />
        <activity
            android:name=".QrCode.sample.AddressBookActivity"
            android:label="addressBook" />
        <activity
            android:name=".QrCode.sample.TextActivity"
            android:label="扫码结果" />
        <activity
            android:name=".QrCode.sample.PickPictureTotalActivity"
            android:label="选择相册" />
        <activity
            android:name=".QrCode.sample.PickPictureActivity"
            android:label="照片" />
        <activity
            android:name=".QrCode.sample.DeCodeActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".QrCode.sample.BarcodeActivity"
            android:label="barcode" />

        <activity
            android:name="com.sd.storage.ui.main.weekmeun.WeekMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sd.storage.ui.MenuMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rest.ActionSheetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".rest.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".rest.InputActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".activity.ItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"
            android:windowSoftInputMode="adjustPan" />

    </application>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--允许程序访问联系人通讯录信息-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--允许程序调用相机进行拍摄-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许访问闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--允许程序振动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--允许程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--程序可以读取设备外部存储空间-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--程序可以写入设备外部存储空间-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序访问网络连接，可能产生GPRS流量-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序获取当前WiFi接入的状态以及WLAN热点的信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序获取当前接入的网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>