<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.storage">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- 设置相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name=".app.StorageApplication">
        <!-- glide 自定义缓存 -->
        <meta-data
            android:name="com.sd.storage.common.glide.config.GlideConfiguration"
            android:value="GlideModule" />


        <activity
            android:name=".ui.MenuMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeLib">


        </activity>
        <activity
            android:name=".ui.main.meunmanage.addnewvege.AddNewVegeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>



        <activity
            android:name=".ui.main.vagedetails.VageDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.weekmeun.WeekMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>


        <activity
            android:name=".ui.main.addcommend.AddCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.meunorder.MeunOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.search.SearchVageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.meunmanage.MeunManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>


        <activity
            android:name=".ui.main.meunmanage.managesearch.ManageSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>


        <activity
            android:name=".ui.main.meunmanage.manageedit.MansageEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.votemanage.VoteManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>


        <activity
            android:name=".ui.main.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.meunmanage.addweekmeun.AddWeekMeunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.settime.SetTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

        <activity
            android:name=".ui.main.settime.SetMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLib"/>

    </application>

</manifest>